.Comics_sec2 {

    position: relative;
    top: -100px;
    padding-top: 20px;
    z-index: 2;
    background-color: white;

}

.Comics_sec2-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;

}